  <h1>Tasks</h1>

  <%= link_to "Add a new task", tasks_new_path %>

  <% @tasks.each do |t| %>
    <p>
      <%= "Task #{t.id}:" %>
      <ul>
        <li><%= "Title: #{t.name}" %></li>
        <li><%= "Description: #{t.description}" %></li>
        <li><%= "Completion status: #{t.completion_status}" %></li>
        <li><%= "Completed at: #{datetime_formatter(t)}" %></li>
      </ul>

      <%= link_to "View this task", task_path(t.id) %>
      <%= link_to "Edit this task", tasks_edit_path(t) %>
      <%= link_to "Delete this task", task_path(t.id), method: :delete,
        data: { confirm: "Are you really really sure?" } %>
    </p>
  <% end %>
