  <h1>Tasks</h1>

  <%= link_to "Add a new task", tasks_new_path %>

  <% @tasks.each do |t| %>
    <p>
      <%= "Task #{t.id}:" %>
      <ul>
        <li><%= "#{t.name}" %></li>
        <li><%= "#{t.description}" %></li>
        <li><%= "#{t.completed_at}" %></li>
      </ul>

      <%= link_to "View task", task_path(t.id) %>
    </p>
  <% end %>
