<!-- The show view should include the complete information
about the task: name, description, completion status, and
completion date/time -->

<header>
  <h1>Task: <%= @task.name %></h1>
</header>

<main>
  <ul>
      <li>description: <%= @task.description %></li>
      <li>completion status: <%= @task.completion_status %></li>
      <li>completed at: <%= @task.completed_at %></li>
  </ul>
  <%= link_to "Return to Tasks List", tasks_path %>
</main>
